#home {
  @media (min-width: 1200px) {
    #controllersWrapper {
      position: absolute;
      top: 0;
      left: 0;
      border-right: 2px darkgray solid;
    }
    #targetWrapper {
      padding-left: 30px;
    }
    #controllersWrapper, #targetWrapper {
      height: 100vh;
    }
  }
  #controllersWrapper {
    background-color: #2f4b79;
    color: white;
    padding-top: 10px;
  }
  #targetWrapper {
    background-color: #f0f0f0;
    padding-top: 10px;
  }
  #target {
    .panel-body {
      ul {
        padding: 0;
        li {
          list-style-position: inside;
        }
      }
    }
  }
}