{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid" id="home" style="position: relative">
        <div class="row">
            <div class="col-xs-12 col-lg-3" id="controllersWrapper">
                <div class="controllersContainer">
                    <form id="searchForm">
                        <div class="form-group">
                            <label for="daySelector">Jour</label>
                            <ul class="daysContainer">
                                {% for day in days %}
                                    <li>
                                        <div class="checkbox">
                                            <label><input type="checkbox" class="daySelection"
                                                          value="{{ forloop.counter0 }}"/>{{ day }}
                                            </label>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="datetimeSelector">Heure</label>
                            <input type='time' class="form-control" id='timeSelector'/>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="durationSelector">Intervalle</label>
                            <div id="slider-duration"></div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="types">Type de cours</label>
                            {% for type in types %}
                                <div class="checkbox">
                                    <label><input type="checkbox" class="typeSelection"
                                                  value="{{ type.id }}"/>{{ type.name }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="rooms">Salles</label>
                            <ul class="roomsContainer">
                                {% for room in rooms %}
                                    <li>
                                        <div class="checkbox">
                                            <label><input type="checkbox" class="roomSelection"
                                                          value="{{ room.id }}"/>{{ room.name }}</label>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="form-group">
                            <label style="visibility: hidden">Lancer recherche</label>
                            <button class="btn btn-success form-control">Go&nbsp;!
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 col-lg-9 col-lg-offset-3" id="targetWrapper">
                <div class="row" id="target">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script>
        $(document).ready(function () {
            var today = new Date();
            $(".daySelection").each(function () {
                if ($(this).val() == today.getDay() - 1) {
                    $(this).prop("checked", true);
                    return false;
                }
            });
            $("#timeSelector").val(today.getHours() + ":" + today.getMinutes());

            var FORMAT_DATE_FULL = "HH:mm:ss";
            var FORMAT_DATE_COMPACT = "HH:mm";
            var $target = $("#target");

            $(".selectpicker").selectpicker();

            $('#timeSelector').datetimepicker({
                step: 15,
                datepicker: false,
                format: "H:i"
            });

            function createBlockCourse(course) {
                q = course.address.street + " " + course.address.zipcode + " " + course.address.city;
                return "<div class='col-lg-2 col-xs-12 blockCourse'><div class='panel panel-default coursePanel'>" +
                    "<div style='color: " + course.typeColor + "' class='panel-heading'>" + course.name + "</div>" +
                    "<div class='panel-body'>" +
                    "<ul><li>" + course.day + "</li>" +
                    "<li>De " + moment(course.start_time, FORMAT_DATE_FULL).format(FORMAT_DATE_COMPACT) +
                    " à " + moment(course.end_time, FORMAT_DATE_FULL).format(FORMAT_DATE_COMPACT) + "</li>" +
                    "<li><a href='https://maps.google.com/?q=" + q + "' target='_blank'>" + course.room + "</a></li>" +
                    "</ul>" +
                    "</div>" +
                    "</div></div>";
            }

            function generateCourse(data) {
                $target.empty();
                for (var i = 0; i < data.length; i++) {
                    $target.append(createBlockCourse(data[i]));
                }
            }

            $("#searchForm").on("submit", function (e) {
                e.preventDefault();

                daysSelected = [];
                typesSelected = [];
                roomsSelected = [];
                $(".daySelection:checked").each(function () {
                    daysSelected.push($(this).val())
                });
                $(".typeSelection:checked").each(function () {
                    typesSelected.push($(this).val())
                });
                $(".roomSelection:checked").each(function () {
                    roomsSelected.push($(this).val())
                });

                $.ajax({
                    url: "{% url 'searchCourses' %}",
                    method: "POST",
                    data: {
                        day: daysSelected,
                        time: $("#timeSelector").val(),
                        type: typesSelected,
                        room: roomsSelected,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    }
                }).done(function (data) {
                    if (data.courses && data.courses.length !== 0) {
                        generateCourse(data.courses);
                        $('html, body').animate({scrollTop: $("#targetWrapper").offset().top}, 500);
                    } else {
                        toastr.error('Aucun cours pour les données sélectionnées.', 'Aie!');
                    }
                }).fail(function (data) {
                    toastr.error('Problème côté serveur, faut taper Lucas.', 'Aie!');
                })
            })
        });
    </script>

    <script>
        $(document).ready(function () {
            $("[data-toggle='tooltip']").tooltip({
                "html": true
            });
            var slider = document.getElementById('slider-duration');

            noUiSlider.create(slider, {
                start: [20, 80],
                connect: true,
                range: {
                    'min': 0,
                    'max': 100
                }
            });
        });
    </script>
{% endblock %}
