{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid" id="home" style="position: relative">
        <div class="row">
            <div class="col-xs-12 col-lg-2" id="controllersWrapper">
                <div class="controllersContainer">
                    <form id="searchForm">
                        <div class="form-group">
                            <label for="daySelector">Jour</label>
                            <select id="daySelector" class="form-control selectpicker" multiple>
                                <option></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="datetimeSelector">Heure</label>
                            <input type='text' class="form-control" id='timeSelector'/>
                        </div>
                        <div class="form-group">
                            <label for="types">Type de cours</label>
                            <select name="types" id="types" class="form-control selectpicker" multiple>
                                <option></option>
                                {% for type in types %}
                                    <option value="{{ type.id }}">{{ type.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="rooms">Salles</label>
                            <select name="rooms" id="rooms" class="form-control selectpicker" multiple>
                                <option></option>
                                {% for room in rooms %}
                                    <option value="{{ room.id }}">{{ room.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label style="visibility: hidden">Lancer recherche</label>
                            <button class="btn btn-success form-control">Go&nbsp;!
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 col-lg-10 col-lg-offset-2" id="targetWrapper">
                <div class="row" id="target">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script>
        $(document).ready(function () {
            var days = ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"];
            var $daySelector = $("#daySelector");
            var FORMAT_DATE_FULL = "HH:mm:ss";
            var FORMAT_DATE_COMPACT = "HH:mm";
            var $target = $("#target");

            for (var i = 0; i < days.length; i++) {
                $daySelector.append("<option id='" + i + "'>" + days[i] + "</option>");
                if (i === days.length - 1) {
                    $(".selectpicker").selectpicker("refresh");
                }
            }

            $(".selectpicker").selectpicker();

            $('#timeSelector').datetimepicker({
                step: 15,
                datepicker: false,
                format: "H:i"
            });

            function createBlockCourse(course) {
                console.log(course);
                return "<div class='col-lg-2 col-xs-6 blockCourse'><div class='panel panel-default coursePanel'>" +
                    "<div style='color: " + course.typeColor + "' class='panel-heading'>" + course.name + "</div>" +
                    "<div class='panel-body'>" +
                    "<ul>" +
                    "<li>Debut: " + moment(course.start_time, FORMAT_DATE_FULL).format(FORMAT_DATE_COMPACT) +
                    "<li>Fin: " + moment(course.end_time, FORMAT_DATE_FULL).format(FORMAT_DATE_COMPACT) + "</li>" +
                    "<li>Salle: " + course.room + "</li>" +
                    "</ul>" +
                    "</div>" +
                    "</div></div>";
            }

            function generateCourse(data) {
                $target.empty();
                for (var i = 0; i < data.length; i++) {
                    $target.append(createBlockCourse(data[i]));
                }
            }

            $("#searchForm").on("submit", function (e) {
                e.preventDefault();

                $.ajax({
                    url: "{% url 'searchCourses' %}",
                    method: "POST",
                    data: {
                        day: $("#daySelector").val(),
                        time: $("#timeSelector").val(),
                        type: $("#types").val(),
                        room: $("#rooms").val(),
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    }
                }).done(function (data) {
                    if (data.courses && data.courses.length !== 0) {
                        generateCourse(data.courses);
                    } else {
                        toastr.error('Aucun cours pour les données sélectionnées.', 'Aie!');
                    }
                }).fail(function (data) {
                    toastr.error('Problème côté serveur, faut taper Lucas.', 'Aie!');
                })
            })
        });
    </script>
{% endblock %}
